# SPDX-License-Identifier: MIT

# HSLinkPro boards, https://github.com/HSLink/HSLink_Hardware
# HSLinkPro firmware, https://github.com/cherry-embedded/CherryDAP/releases

# Copy this file to /etc/udev/rules.d/, ensure the order number SHALL less than 70.
# If rules fail to reload automatically, you can refresh udev rules
# with the command "udevadm control --reload"

# Reload udev rules after rules file change:
#   sudo udevadm control --reload-rules
#   sudo udevadm trigger

ACTION!="add|change", GOTO="hslink_rules_end"

SUBSYSTEM=="gpio", MODE="0660", TAG+="uaccess"

SUBSYSTEM!="usb|tty|hidraw", GOTO="hslink_rules_end"

# Get VID:PID
# ls /dev/hidraw*
# udevadm info -a -n /dev/hidrawX

# Please keep this list sorted by VID:PID

# HSLinkPro
ATTRS{idVendor}=="0d28", ATTRS{idProduct}=="0204", ENV{ID_DEBUG_APPLIANCE}="hslink", SYMLINK+="HSLink_%n"

# TODO: For compatible with systemd < v258
ENV{ID_DEBUG_APPLIANCE}=="hslink", TAG+="uaccess"
# If you want to use HSLink with SSH-login user session, uncomment line below, and replace grpname with what you want.
#ENV{ID_DEBUG_APPLIANCE}=="hslink", MODE="0660", GROUP="grpname"

LABEL="hslink_rules_end"
