# SPDX-License-Identifier: MIT

# HSLinkPro boards, https://github.com/HSLink/HSLink_Hardware
# HSLinkPro firmware, https://github.com/cherry-embedded/CherryDAP/releases

# Copy this file to /etc/udev/rules.d/
# If rules fail to reload automatically, you can refresh udev rules
# with the command "udevadm control --reload"

# Reload udev rules after rules file change:
#   sudo udevadm control --reload-rules
#   sudo udevadm trigger

ACTION!="add|change", GOTO="hslink_rules_end"

SUBSYSTEM=="gpio", MODE="0660", TAG+="uaccess"

SUBSYSTEM!="usb|tty|hidraw", GOTO="hslink_rules_end"

# Get VID:PID
# ls /dev/hidraw*
# udevadm info -a -n /dev/hidrawX

# Please keep this list sorted by VID:PID

# HSLinkPro
ATTRS{idVendor}=="0d28", ATTRS{idProduct}=="0204", MODE="666", TAG+="uaccess", SYMLINK+="HSLink_%n"

LABEL="hslink_rules_end"
